* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.main-content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: inline-block;
    width: 118px;
    line-height: 50px;
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    background: #171100;
    border-radius: 999px;
}

/* Header */
.header {
    background: #fffcf4;
}

.header .body {
    display: flex;
    align-items: center;
}

.nav ul {
    display: flex;
}

.nav {
    margin-left: auto;
}
